<section class="container">
  <a href="/listings/{{id}}">
    <p>{{title}}</p>
    <header>{{format_date date_created}}</header>
    <p>{{description}}</p>
    {{!-- <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}"> --}}
  </a>
</section>
