<section class="card">
  <a href="/listing/{{id}}">
    <header>{{format_date date_created}}</header>
    <div>{{description}}</div>
    {{!-- <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}"> --}}
  </a>
</section>