{{!-- res.render('all') will get this file name in the controller directory route file that you set --}}
{{!-- the render function takes in 2 parameters: 1. handlebar template name 2. object full of options { example: dishes }  --}}

  
  <div class='add-listing'>
    <h2>
      Please fill out the form to create your listing!
    </h2>
    <form class='new-listing-form'>
      <label for='date_created'>
        Dish Name:
      </label>
      <br />
      <textarea id='date_created' name='date_created' rows='2' cols='30'>
        {{date_created}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='plants'>
        plants:
      </label>
      <br />
      <textarea id='plants' name='plants' rows='2' cols='30'>
        {{plants}}
      </textarea>
      <br />
      <label for='pets'>
        Pets:
      </label>
      <br />
      <textarea id='pets' name='pets' rows='2' cols='30'>
        {{pets}}
      </textarea>
      <br />
      <label for='contact'>
        contact:
      </label>
      <br />
      <textarea id='contact' name='contact' rows='2' cols='30'>
        {{contact}}
      </textarea>
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new listing -->
<script src='/js/add-dish.js'></script>